# Server
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/sms_scheduler
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_auth_token

# Client
VITE_API_BASE_URL=http://localhost:5000/api
